body{
    background-color: #210E09;
    width: 1920px;
    height: 4750px;
}

.nav-list{
    display: flex;
align-items: center;
justify-content: space-between;
padding-top: 30px;
padding-left: 312px;
padding-right: 303px;
    &__frame{
display: flex;
color: white;
font-size: 14px;}
    &__button{
    background-color: #210E09;
    color: white;
    border-radius: 5px;
    border: 2px;
    border-color: #D5621D;
    width: 188px;
    height: 51px;
}
}

.first-screen{
    display: flex;
align-items: center;
justify-content: space-between;
padding-top: 55px;
padding-left: 312px;
padding-right: 303px;

    &__left{
height: 540px;
}

    &__right{
        &_buttons{
       
    }

        &_img{
    background-color: #D5621D1A;
    height: 502px;
    width: 416px;}
}
}


